<nav class="navbar navbar-expand-sm " style="background-color: #827ffe; ">
    <!-- Brand/logo -->
    <h2>Logo &nbsp;&nbsp;&nbsp;</h2>
    
    <!-- Links -->
    <ul class="navbar-nav" style="color: white;">
      <li class="nav-item"  >
        <a mat-list-item routerLinkActive="list-item-active" style="text-decoration: none;color: white;"routerLink="/home/create-appointment"> <h5 >  Create Transaction &nbsp;</h5></a>
      </li>
      <li class="nav-item"  style="color: white;">
        <a mat-list-item routerLinkActive="list-item-active" style="text-decoration: none;color: white;"routerLink="/home/search-appointment">   <h5>  Search Transaction &nbsp;</h5></a>
      </li>
      <li class="nav-item"  style="color: white;">
        <a mat-list-item routerLinkActive="list-item-active"style="text-decoration: none;color: white;" routerLink="/home/all-appointment">   <h5>   All Transaction&nbsp;</h5></a>
      </li>
      <li class="nav-item"  style="color: white;">
        <a mat-list-item routerLinkActive="list-item-active" style="text-decoration: none;color: white;"routerLink="/home/history-appointment">     <h5>   Transaction History&nbsp;&nbsp;</h5></a>
      </li>
      <li class="nav-item"  style="color: white;">
        <a mat-list-item routerLinkActive="list-item-active" style="text-decoration: none;color: white;"routerLink="/home/logout">     <h5> &nbsp;&nbsp;  logout</h5></a>
      </li>
    </ul>
  </nav>