<br><br>
<div class="container    " >
        <div class="row ">
            <div class="col-xl-10 col-lg-12 col-md-9 " >
            <hr>

            <form class="login100-form validate-form flex-sb flex-w" [formGroup]="searchForm" (ngSubmit)="search()">
              <div class=" wrap-input100 validate-input m-b-16 alert alert-success" role="alert" *ngIf="toggle_message=='success'">
                  {{message}}
                </div>
                <div class="wrap-input100 validate-input m-b-16 alert alert-danger" role="alert" *ngIf="toggle_message=='fail'">
                {{message}}
                </div>
              <span class="login100-form-title p-b-51">
                Transaction History
              </span>
              <div class="row">
                  <div class="col-md-8">
                      <div class="wrap-input100 validate-input m-b-16">
                          <input class="input100" type="text" formControlName ="appointment_id" placeholder="Transaction Id">
                          <span class="focus-input100"*ngIf="appointment_id.touched && appointment_id.invalid ">
                              <p *ngIf="(!appointment_id.valid && appointment_id.errors.required)">Transation ID is required</p>
                          </span>
                      </div>
                       
                  </div>
                  <div class="col-md-4">
                      <button   type="submit"  [disabled]="!searchForm.valid"class="login100-form-btn">
                          Search Transaction Histroy
                      </button>
                  </div>
              </div>
          </form>
            <form class="login100-form validate-form flex-sb flex-w" *ngIf="resultFound">
              
                <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Block Tx ID</th>
                        <th scope="col">TimeStamp</th>
                        <th scope="col">isDeleted</th>
                        <th scope="col">View Detials</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor='let sub of data;let i = index'>
                        <th scope="row">{{i+1}}</th>
                        <td>{{sub.TxId}}</td>
                        <td>{{sub.Timestamp}}</td>
                        <td>{{sub.IsDelete}}</td>
                        <td>               
                                <button class="btn" (click)="getDetails(sub.Value)" style="background-color: #827ffe;color:white;">
                                    View
                                </button>
                        </td>
                      </tr>
    
                    </tbody>
                  </table>
                  
           
            </form>
            </div>
    
        </div>
    
</div>
    